
  .App-header {
  background-color:#FFA500;
  font-family: 'Playfair Display', serif;
      font-size: 2.5rem;
      color:black;
 }

    .box1 {
      width: 5rem;
      height: 10rem;
      font-style: italic;
      font-family: 'Playfair Display', serif;
      font-size: 2.5rem;
      color:black;
    }
 .box2 {

      font-family: 'Quicksand', sans-serif;
      font-size: 1.5rem;
      color:black;
    }
  .box3 {

    font-family: 'Dancing Script', cursive;
      font-size: 1.7rem;
      color:black;

    }
