

.App-header {
    /* background-image:url(test7.jpg); */
    background-color: #FFA500;
   }
   
   .form-label{
     margin-bottom:              .5rem;
     font-size:                  null;
     font-style:                 null;
     font-weight:bold;
     color: black;
   
   }
   
   
    .full-width-image {
      padding-right: 100px;
   
   
    }
   
   .form-control{
     padding-right: 50px;
   }
   